<br/>
<br/>
<br/>
<br/>
<div class = "container">
  <h1>Editing House</h1>

  <%= render 'form', house: @house %>
  
  <%= link_to 'Show', @house, class: "btn btn-sm btn-outline-secondary" %> |
  <%= link_to 'Back', houses_path, class: "btn btn-sm btn-outline-secondary" %>
  <br/>
  <br/>
</div>