<br/>
<br/>
<br/>
<br/>
<div class = "container about-content">
  <div class="our-story" >
    <h3 class="content-heading" style = "text-align: center;">Our Story</h3>
    <%= image_tag image_url("story.jpg"), class: "img-fluid" %>
    <br/>
    <br/>
    <p class = "content-text" style = "text-align: center;word-spacing: 0.5rem; line-height: 1.3;"><strong>Shiksha ki Ore</strong>, a project of 'Nirmaan-Pilani' aims to build a quality educational infrastructure accessible to the poor kids who don’t go to school or have dropped out due to financial constraints and motivate them to join school. We have started a school in Natbasthi, a small locality of poor farmers near Pilani and a teacher has been appointed. The place had lost its school 3 years back and from then no kid in the locality had gone to any school. Apart from daily school, Fun, Educational and Sports Activities are conducted for overall development of kids and most importantly, effort is being made to admit them in real schools...</p>
    <div class="embed-responsive embed-responsive-16by9 " id="aboutProject" style="margin: 6rem 0rem;">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/pzLQK_KzdJY" allowfullscreen></iframe>
    </div>
  </div>
</div>