<br/>
<br/>
<br/>
<br/>
<div class = "container">
    
  <h1>Editing Project</h1>
  
  <%= render 'form', project: @project %>
  <br/>

  <%= link_to 'Show', @project, class: "btn btn-sm btn-outline-secondary" %> |
  <%= link_to 'Back', projects_path, class: "btn btn-sm btn-outline-secondary" %>

</div>
<br/>
