  
html{
  scroll-behavior: smooth;
}

body{
  font-family: "Century Gothic";
  background-color: #f0f5f9 !important;
}
/* Styling the header */
header{
  width: 100%;
  height: 9vh;
  display: flex;
  text-align: center;
}



.navbar-brand{
  font-size: 1.375rem !important;
  font-weight: 300;
  padding-bottom: 0px;
  margin-top: 0.2250rem;
  margin-left: 2%;
  letter-spacing: 0.1875rem;
  color: #ffffff;
}


link_to {
  text-decoration: none;
}


.nav-link{
  font-size: 1.00rem;
  font-weight: 300 !important;
  padding: 0.5rem 1rem 0.1rem 1rem !important;
  margin-right: 2rem;
}



.nav-link span:hover{
  border-bottom: 2px solid #f0f5f9;
}

.active span{
  border-bottom: 2px solid #f0f5f9;
}



.short-description{
  text-align: center;
  line-height: 1.6;
  margin: 6rem 0rem 4rem 0rem;
  font-size: 27px;
  font-weight: 900;
  color: #4a4a4a;
}

/* Styling the header */
.home-page-header{
  margin-top: 0px;
  position: relative;
  width: 100%;
  height: 100vh;
  background-image:linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), image-url("background.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}



.white {
  color: #ffffff;
}

.content-heading{
  letter-spacing: 0.1rem;
  font-weight: 400;
}

.content-text{
  text-align: left;
  font-size: 1.52rem;
}

.our-story{
  text-align: center;
  padding: 5rem 1rem ;
}